Repository bretm9/genrefy, pull requests merged in 2020-11, with the labels that each got.

#60 Nd parse genre playlist
  src/App/App.tsx
  src/Genre/Genre.tsx
  src/apiCalls.ts
Labels: Fetch, GeneratedPlaylists, Genre, Iteration 3, Refactor, enhancement

#61 Test genreslist
  src/App/App.tsx
  src/GenresList/GenresList.test.tsx
  src/GenresList/GenresList.tsx
Labels: GenresList, Iteration 3, Testing

#63 Test generatedplaylist
  src/GeneratedPlaylists/GeneratedPlaylist.test.tsx
Labels: GeneratedPlaylists, Iteration 3, Testing

#64 Add app async testing
  src/App/App.test.tsx
Labels: App, Fetch, Iteration 3, Testing

#67 Refactor playlist data
  src/App/App.test.tsx
  src/App/App.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.test.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/PlaylistContainer/PlaylistContainer.test.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/apiCalls.ts
  src/utils.ts
Labels: GeneratedPlaylists, Iteration 4, Refactor, Testing

#73 Route saved
  src/App/App.tsx
  src/Header/Header.tsx
Labels: App, GeneratedPlaylists, Iteration 4, Router, Saved, State

#79 Nd app design
  src/App/App.scss
  src/App/App.tsx
  src/Header/Header.scss
  src/Header/Header.tsx
  src/images/genrefy-logo.png
  src/images/main-background.jpg
  src/images/star-active.svg
  src/images/star.svg
  src/index.css
  src/index.scss
  src/index.tsx
  src/normalize.scss
Labels: App, Iteration 4, UI, styling

#81 Nd generated playlist design
  src/App/App.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.scss
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/images/saved-playlist.png
  src/images/star-active.svg
  src/images/star.svg
  src/images/unsaved-playlist.png
Labels: GeneratedPlaylists, Iteration 4, Saved, UI, enhancement, playlistContainer

#83 Add testing for toggling playlist isSaved property
  src/GeneratedPlaylists/GeneratedPlaylist.test.tsx
Labels: GeneratedPlaylists, Iteration 4, Testing

#84 Test header
  src/GeneratedPlaylists/GeneratedPlaylist.test.tsx
  src/Header/Header.test.tsx
Labels: Header, Iteration 4, Router, Testing

#89 Remove CustomPlaylists folder
  src/CustomPlaylists/CustomPlaylist.scss
  src/CustomPlaylists/CustomPlaylist.test.tsx
  src/CustomPlaylists/CustomPlaylist.tsx
Labels: Cleanup, CustomPlaylists, Refactor

#90 Test playlist details
  src/App/App.tsx
  src/PlaylistDetails/PlaylistDetails.test.tsx
  src/PlaylistDetails/PlaylistDetails.tsx
Labels: Iteration 4, PlaylistDetails, Testing

#92 Nd styled gen playlist
  src/App/App.scss
  src/GeneratedPlaylists/GeneratedPlaylist.scss
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/PlaylistContainer/PlaylistContainer.scss
  src/PlaylistContainer/PlaylistContainer.tsx
Labels: GeneratedPlaylists, UI, iteration 5, playlistContainer, styling

#94 Nd genre styling
  src/App/App.scss
  src/Genre/Genre.scss
  src/Genre/Genre.tsx
  src/GenresList/GenresList.scss
  src/GenresList/GenresList.tsx
  src/PlaylistContainer/PlaylistContainer.scss
Labels: Genre, GenresList, UI, iteration 5, styling

#96 Test app saved
  src/App/App.test.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/PlaylistContainer/PlaylistContainer.scss
  src/PlaylistContainer/PlaylistContainer.tsx
Labels: App, GeneratedPlaylists, Saved, Testing, iteration 5

#99 Testing cleanup
  src/GeneratedPlaylists/GeneratedPlaylist.test.tsx
  src/Genre/Genre.test.tsx
Labels: Cleanup, GeneratedPlaylists, Genre, Testing, iteration 5

#100 Test integration app playlistdetails
  src/App/App.test.tsx
  src/PlaylistDetails/PlaylistDetails.tsx
Labels: App, PlaylistDetails, Testing, iteration 5

#103 Nd playlist details style
  src/App/App.scss
  src/PlaylistDetails/PlaylistDetails.scss
  src/PlaylistDetails/PlaylistDetails.tsx
Labels: PlaylistDetails, UI, iteration 5, styling

#109 Styling cleanup
  src/App/App.scss
  src/GeneratedPlaylists/GeneratedPlaylist.scss
  src/Header/Header.scss
  src/PlaylistDetails/PlaylistDetails.scss
Labels: Cleanup, UI, iteration 5

#110 Add displaying error if playlist returns no songs
  src/App/App.tsx
Labels: App, Error Handling, GeneratedPlaylists

#112 Test app integration
  src/App/App.test.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.test.tsx
  src/PlaylistDetails/PlaylistDetails.test.tsx
  src/PlaylistDetails/PlaylistDetails.tsx
Labels: App, Cleanup, GeneratedPlaylists, PlaylistDetails, Saved, Testing, iteration 5

#116 Add test for removing a saved playlist in the saved view
  src/App/App.test.tsx
Labels: App, Router, Saved, Testing, iteration 5

#117 Remove duration from cleaned API data
  src/App/App.test.tsx
  src/utils.ts
Labels: Cleanup, Fetch, Refactor, bug, iteration 5

#119 Add redirect to homepage when attempting to navigate to unknown url
  src/App/App.tsx
Labels: Cleanup, Router, iteration 5

#121 Add readme
  README.md
Labels: Cleanup, documentation, iteration 5

#124 Nd user interaction
  src/App/App.test.tsx
  src/App/App.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.scss
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/Header/Header.scss
  src/Header/Header.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/PlaylistDetails/PlaylistDetails.scss
  src/PlaylistDetails/PlaylistDetails.tsx
  src/apiCalls.ts
  src/utils/_mixin.scss
  src/utils/_variables.scss
  src/utils/utils.ts
Labels: Cleanup, Error Handling, GeneratedPlaylists, Header, PlaylistDetails, Refactor, UI, enhancement, iteration 5, playlistContainer, styling

#125 Removed unneeded link import that was missed
  src/PlaylistDetails/PlaylistDetails.tsx
Labels: Cleanup

#126 Remove yarn.lock
  yarn.lock
Labels: Cleanup, Deployment, iteration 5

#127 Add secure URL in Last FM API call
  src/apiCalls.ts
Labels: Cleanup, Deployment, bug, iteration 5

#131 Nd fetch error msgs
  src/App/App.test.tsx
  src/App/App.tsx
  src/PlaylistDetails/PlaylistDetails.scss
  src/apiCalls.ts
Labels: Testing, UI, bug, styling
