Repository bretm9/genrefy, pull requests merged in 2020-10, with the labels that each got.

#7 Nd typescript template
  README.md
  package-lock.json
  package.json
  src/App.js
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Labels: Iteration 0, bug, documentation

#27 Component foundations
  src/CustomPlaylists/CustomPlaylist.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/Genre/Genre.scss
  src/Genre/Genre.test.tsx
  src/Genre/Genre.tsx
  src/Header/Header.scss
  src/Header/Header.test.tsx
  src/Header/Header.tsx
  src/PlaylistContainer/PlaylistContainer.scss
  src/PlaylistContainer/PlaylistContainer.test.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/SavedPlaylists/SavedPlaylist.tsx
Labels: Iteration 1, Setup

#28 Nd implement browser router
  src/App/App.tsx
  src/Genre/Genre.tsx
  src/Header/Header.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/SavedPlaylists/SavedPlaylist.tsx
  src/index.tsx
Labels: Header, Iteration 1, Router, enhancement

#33 Fetch genres
  .gitignore
  src/Genre/Genre.tsx
  src/apiCalls.ts
Labels: Fetch, GenresList, Iteration 2

#37 Nd randomize playlist
  src/App/App.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/apiCalls.ts
  src/utils.ts
Labels: Fetch, Iteration 2, enhancement

#45 Display generated playlist
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/apiCalls.ts
  src/utils.ts
Labels: GeneratedPlaylists, Iteration 2, UI

#47 Selected genre state
  src/App/App.tsx
  src/GenresList/GenresList.tsx
Labels: App, GenresList, Iteration 2, State

#48 Nd genre component
  src/Genre/Genre.test.tsx
  src/Genre/Genre.tsx
  src/GenresList/GenresList.tsx
Labels: Genre, GenresList, Iteration 2, Testing, enhancement

#54 Nd refactor playlist to app
  src/App/App.tsx
  src/GeneratedPlaylists/GeneratedPlaylist.tsx
  src/Genre/Genre.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
  src/apiCalls.ts
Labels: Cleanup, Iteration 3, Refactor, enhancement

#57 Bm display playlists onclick
  src/App/App.tsx
  src/GenresList/GenresList.tsx
  src/PlaylistContainer/PlaylistContainer.tsx
Labels: App, Fetch, GeneratedPlaylists, GenresList, Refactor, State
